.card-img { 
    height: 250px; 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    filter: grayscale(100%); /* Deixa P&B como você pediu */
    transition: 0.5s;
}
.card-item:hover .card-img { 
    filter: grayscale(0%); /* Volta a cor quando passa o mouse */
}
